<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>ログイン画面</title>

<script th:src="@{/js/common-script.js}"></script>

</head>

<body>
	
	<!--/* ヘッダー読み込み */-->
	<div th:replace="~{common/header :: header_fragment}"></div>
	
	<main>
		
		<h2>ログイン</h2>
		
		<form th:action="@{/login}" method="post" id="login">
		
			<label for="username">ユーザー名</label>
			<input type="text" id="username" name="username" required>
			
			<label for="password">パスワード</label>
			<input type="password" id="password" name="password" required>
		
		</form>
		
		<form th:action="@{/signup/goSignup}" method="get" id="signup"></form>
		
		<p th:text="${error}">エラーメッセージ</p>
		
		<p th:text="${logout}">ログアウトメッセージ</p>
		
		<button type="submit" form="login">ログイン</button>
		
		<button type="submit" form="signup">新規登録</button>
	
	</main>
	
</body>

</html>