<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>新規登録確認画面</title>

<script th:src="@{/js/common-script.js}"></script>

</head>

<body>
	
	<h2>新規登録確認</h2>
	
	<p>以下のユーザ情報を登録してもよろしいですか？</p>
	
	<table th:object="${user}">
		
		<tr>
			<th>ユーザー名</th>
			<td><span th:text="*{username}">ユーザー名</span></td>
		</tr>
		
		<tr>
			<th>メールアドレス</th>
			<td><span th:text="*{email}">メールアドレス</span></td>
		</tr>
		
	
	</table>
	
	<form th:action="@{/signup/goSignupComplete}" method="post" id="complete"></form>
	
	<form th:action="@{/signup/reSignup}" method="get" id="re"></form>
	
	<button type="submit" form="complete">確定</button>
	
	<button type="submit" form="re">新規登録画面に戻る</button>
		
</body>

</html>